source=~/.config/hypr/colors/current.conf

$background = {{ .chezmoi.homeDir }}/Pictures/wallpaper.png

# BACKGROUND
background {
    monitor =
    color = $base
    path = $background
    blur_passes = 2
    contrast = 0.8916
    brightness = 0.8172
    vibrancy = 0.1696
    vibrancy_darkness = 0.0
}

# GENERAL
general {
    no_fade_in = false
    grace = 0
    disable_loading_bar = false
}

# TIME
label {
    monitor =
    text = cmd[update:1000] echo "$(date +"%H:%M")"
    color = $accent
    font_size = 120
    font_family = Noto Bold
    position = 0, -140
    halign = center
    valign = top
}

# DAY-DATE-MONTH
label {
    monitor =
    text = cmd[update:1000] echo "<span>$(date '+%A, %d %B')</span>"
    color = $text
    shadow_passes = 1
    shadow_size = 3
    shadow_color = 0xb8000000
    shadow_boost = 1.0
    font_size = 30
    font_family = Noto Bold
    position = 0, -320
    halign = center
    valign = top
}

# USER
label {
    monitor =
    text = $USER
    color = $text
    shadow_passes = 1
    shadow_size = 3
    shadow_color = 0xb8000000
    shadow_boost = 1.0
    font_size = 25
    font_family = Noto Bold
    position = 0, -70
    halign = center
    valign = center
}

# INPUT FIELD
input-field {
    monitor =
    size = 290, 60
    outline_thickness = 2
    rounding = 10
    dots_size = 0.2 # Scale of input-field height, 0.2 - 0.8
    dots_spacing = 0.2 # Scale of dots' absolute size, 0.0 - 1.0
    dots_center = true
    outer_color = $surface
    inner_color = $base
    font_color = $text
    fade_on_empty = false
    font_family = Noto Bold
    placeholder_text = Enter Password
    check_color = $yellow
    fail_color = $red
    fail_text = $FAIL <b>($ATTEMPTS)</b>
    hide_input = false
    position = 0, -140
    halign = center
    valign = center
}
