set -gx EDITOR nvim

if test -d "$HOME/.asdf"
    set -gx ASDF_DATA_DIR "$HOME/.asdf"
    set -gx PATH "$ASDF_DATA_DIR/shims" $PATH
end

{{ if eq .role "private" }}
if set -q XDG_RUNTIME_DIR
    set -gx SSH_AUTH_SOCK "$XDG_RUNTIME_DIR/ssh-agent.socket"
end

set -l himalaya_config_home "$HOME/.config"
if set -q XDG_CONFIG_HOME
    set himalaya_config_home "$XDG_CONFIG_HOME"
end

if test -f "$himalaya_config_home/himalaya/config.local.toml"
    set -gx HIMALAYA_CONFIG "$himalaya_config_home/himalaya/config.toml:$himalaya_config_home/himalaya/config.local.toml"
end
{{ end }}

if test -f "$HOME/.config/fish/config.local.fish"
    source "$HOME/.config/fish/config.local.fish"
end
